<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertDeprecationsToExceptions="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="Application Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="CI_ENVIRONMENT" value="testing"/>
    </php>
</phpunit>
